<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/c587a36d8d.js" crossorigin="anonymous"></script>

<body>
    <card>
        <div class="container text-left">
            <div class="row align-items-start" style="width:100%;">      
                <div class="col">
                    <label for="gMadre"> Guia Madre:</label>
                    <input id="gMadre" class="form-control" type="text" readonly />
                </div>
                <div class="col">
                    <label for="gHija"> Guia Hija:</label>
                    <input id="gHija" class="form-control" type="text" readonly />
                </div>

                <div class="col-sm-2">
                    <label for="fechaPla"> Fecha </label>
                    <div class="input-group">
                        <input id="fechaPla" class="form-control" type="text" value="" placeholder="dd/MM/yyyy" spellcheck="false" data-ms-editor="true" autocomplete="on" readonly/>
                        <label class="input-group-append mb-0" for="fechaPla">
                            <span class="input-group-text"> <i class="fa fa-calendar"> </i> </span>
                        </label>
                    </div>
                </div>
                
                <div class="col">
                    <label for="pesoFisico"> Peso Físico:</label>
                    <input id="pesoFisico" class="form-control" type="text" readonly />
                </div>

                <div class="col">
                    <label for="pesoVolumen"> Peso Volumen:</label>
                    <input id="pesoVolumen" class="form-control" type="text" readonly />
                </div>

                <div class="col">
                    <label for="piezasTotal"> Piezas:</label>
                    <input id="piezasTotal" class="form-control" type="text" readonly/>
                </div>
            </div>
        </div>
    </card>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>